@use '/styles';

.imageEditor {
  display: grid;
  grid-template-rows: 30px 1fr;
  border-bottom: 0px;
  height: 100%;
  border: 1px solid styles.$color-background;
  background-color: styles.$color-background;

  .body {
    display: grid;
    grid-template-columns: 50px 1fr 250px;

    .middleColumn {
      display: grid;
      grid-template-rows: 1fr 20px;
    }
  }

  * {
    user-select: none;
  }
}
